<div class="header-position">
  <header class="header-6">
    <div class="branding">
      <a href="#">
            <img class="nav-logo" src="../../assets/logo.png" alt="logo">
            <span class="title">Pomedapi</span>
          </a>
    </div>
    <div class="header-nav">
      <a routerLink='/{{category.name.toLowerCase()}}' class="nav-link nav-text" *ngFor="let category of categories" (click)="getSubnav(category.id)">{{category.name}}</a>
    </div>
    <div class="header-actions">
      <a routerLink="/contact" class="nav-link nav-icon">
        <clr-icon shape="envelope"></clr-icon>
      </a>
    </div>
  </header>

  <nav *ngIf="subcategories" class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#" *ngFor="let subcategory of subcategories">{{subcategory}}</a>
      </li>
    </ul>
  </nav>
</div>